/* Main Container */
.searchbar-main-container {
  padding: 2vh;
  display: flex;
  justify-content: space-around;
}

/* Form Container */

.searchbar-form {
  display: flex;
}

/* Field Container */

.searchbar-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vh;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 1px 3px 10px;
  background-color: white;
}

/* Label */

.searchbar-label {
  margin: 1vh;
  color: #020202;
}

/* Submit button */

.searchbar-input-submit {
  border-radius: 12px;
  margin: 5px;
  width: 10vh;
}

/* Input field */
.searchbar-input-field {
  /* margin: 1vh; */
  width: 35vh;
  height: 2vh;
  border-radius: 12px;
  text-align: center;
  font-weight: 900;
  color: black;
}

.searchbar-input-field:focus {
  outline: none;
  box-shadow: 0 0 0 2px #048a81;
}
